.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;

  .product-card {
    padding: 15px;
    border: 1px solid #c3c2c2;
    border-radius: 15px;
    background: white;
    text-align: center;
    transition: all 0.2s;
    min-width: 250px;
    max-width: 250px;


    .product-image {
      width: 50%;
      max-height: 150px;
    }

    .product-info {
      margin-top: 20px;
    }

    .product-price {
      color: #333;
      font-weight: bold;
      font-size: 1.2rem;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}

.product-card h3 {
  font-size: 1.5rem;
  margin: 10px;
}

.product-card p {
  margin: 5px;
}